<!--
  ~  Copyright 2020 北京渤远物流. All Rights Reserved.
  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>渤远运车，您身边的运车专家</title>
    <meta name="keywords" content="渤远运车"/>
    <meta name="description" content="您身边的运车专家"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen and (max-device-width: 600px)" href="/css/mcss.css"/>
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 600px)" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/loading.css">
    <link rel="stylesheet" href="/css/alert.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="/js/jquery-1.7.2.min.js"></script>
    <script src="/js/web/html5zoo.js"></script>
    <script src="/js/web/lovelygallery.js"></script>
    <script src="/js/web/common.js"></script>
    <script src="/js/common/loading.js"></script>
    <script src="/js/common/alert.js"></script>
    <script src="/js/common/commonUtils.js"></script>

    <title>15秒在线询价</title>
    <script type="text/javascript">
        function MM_swapImgRestore() { //v3.0
            var i, x, a = document.MM_sr;
            for (i = 0; a && i < a.length && (x = a[i]) && x.oSrc; i++) x.src = x.oSrc;
        }

        function MM_preloadImages() { //v3.0
            var d = document;
            if (d.images) {
                if (!d.MM_p) d.MM_p = new Array();
                var i, j = d.MM_p.length, a = MM_preloadImages.arguments;
                for (i = 0; i < a.length; i++)
                    if (a[i].indexOf("#") != 0) {
                        d.MM_p[j] = new Image;
                        d.MM_p[j++].src = a[i];
                    }
            }
        }

        function MM_findObj(n, d) { //v4.01
            var p, i, x;
            if (!d) d = document;
            if ((p = n.indexOf("?")) > 0 && parent.frames.length) {
                d = parent.frames[n.substring(p + 1)].document;
                n = n.substring(0, p);
            }
            if (!(x = d[n]) && d.all) x = d.all[n];
            for (i = 0; !x && i < d.forms.length; i++) x = d.forms[i][n];
            for (i = 0; !x && d.layers && i < d.layers.length; i++) x = MM_findObj(n, d.layers[i].document);
            if (!x && d.getElementById) x = d.getElementById(n);
            return x;
        }

        function MM_swapImage() { //v3.0
            var i, j = 0, x, a = MM_swapImage.arguments;
            document.MM_sr = new Array;
            for (i = 0; i < (a.length - 2); i += 3)
                if ((x = MM_findObj(a[i])) != null) {
                    document.MM_sr[j++] = x;
                    if (!x.oSrc) x.oSrc = x.src;
                    x.src = a[i + 2];
                }
        }
    </script>
</head>

<body onload="MM_preloadImages('images/anniu_22.png')">
<div class="top">
    <div class="db">
        <div class="pcdb">
            <div class="pcdb_l">您好欢迎来到渤远物流！！！专业提供轿车托运服务</div>
            <div class="pcdb_r"><a href="#"
                                   onclick="javascript:window.external.addFavorite('http://www.boyuan.com','渤远物流')"
                                   title="收藏本站到收藏夹">加入收藏</a></div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="dingbu">
        <div class="dingbu_a"><img src="/images/index_09.jpg"/></div>
        <div class="dingbu_b"><img src="/images/index_10.jpg"/></div>
        <div class="dingbu_c"><img src="/images/index_11.jpg"/></div>
        <div class="dingbu_d"><img src="/images/index_12.jpg"/></div>
    </div>
    <div class="clear"></div>
    <div class="nav">
        <ul>
            <li><a href="/">首页</a></li>
            <li><a href="/boyuan/news">托运必读</a></li>
            <li><a href="#">15秒获取报价</a></li>
            <li><a href="/boyuan/cases">托运案例</a></li>
            <li><a href="/boyuan/about">关于我们</a></li>
        </ul>
    </div>
</div>
<div class="clear"></div>
<!--手机端top-->
<div class="mtop">
    <script type="text/javascript" src="/js/web/script.js"></script>
    <div class="sp_header">
        <div class="sp_logo"><a href="#"><img src="/images/mindex_09.jpg" alt=""></a></div>
        <div class="sp_nav"><span></span> <span></span> <span></span></div>
    </div>
    <div class="sjj_nav">
        <ul>
            <li><a href="/">首页</a></li>
            <li><a href="/boyuan/news">托运必读</a></li>
            <li><a href="#">15秒获取报价</a></li>
            <li><a href="/boyuan/cases">托运案例</a></li>
            <li><a href="/boyuan/about">关于我们</a></li>
        </ul>
    </div>
</div>
<!--top_wap-->
<div class="clear"></div>
<!--banner start-->
<div class="banner">
    <!-- 轮播图 -->
    <div class="pics_wrap">
        <div id="html5zoo-1">
            <ul class="html5zoo-slides" style="display:none;">
                <li><a href="#"><img src="/images/slides/slides_1.jpg"/></a></li>
                <li><a href="#"><img src="/images/slides/slides_2.jpg"/></a></li>
                <li><a href="#"><img src="/images/slides/slides_3.jpg"/></a></li>
            </ul>
        </div>
    </div>
    <!-- 轮播图结束 -->
</div>
<!--banner end-->
<div class="clear"></div>
<!--询价详情页-->
<div class="center">
    <div class="center_gps">
        <ul>
            <li><a>在线询价</a></li>
        </ul>
    </div>
    <div class="center_xunjia">
        <div class="cen_xj_l">
            <div class="cen_xj_l_b">15秒免费获取运车报价</div>
            <div class="xunjia_t">今日已有<span>1752</span>人预约</div>
            <div class="xunjia_liebiao">
                <ul>
                    <li>
                        <div class="xj_lb_wz">托运车型：<span>*</span></div>
                        <div class="xj_lb_bd"><input type="text" id="carName" placeholder="请填写车型"/></div>
                    </li>
                    <div class="clear"></div>
                    <li>
                        <div class="xj_lb_wz">车型类型：<span>*</span></div>
                        <div class="xj_lb_bd">
                            <select type="text" id="carType" value="请选择车型">
                                <option value="">请选择车型</option>
                                <option value="0">轿车</option>
                                <option value="1">SUV</option>
                                <option value="2">皮卡</option>
                                <option value="3">其他</option>
                            </select>
                            <span><img src="/images/index_23.jpg"/></span>
                        </div>
                    </li>
                    <div class="clear"></div>
                    <li>
                        <div class="xj_lb_wz">始发地：<span>*</span></div>
                        <div class="xj_lb_bd">
                            <select id="fromLocPro" name="pro">
                                <option value="">-出发省份-</option>
                                <option>北京市</option>
                                <option>上海市</option>
                                <option>天津市</option>
                                <option>重庆市</option>
                                <option>河北省</option>
                                <option>山西省</option>
                                <option>内蒙古自治区</option>
                                <option>辽宁省</option>
                                <option>吉林省</option>
                                <option>黑龙江省</option>
                                <option>江苏省</option>
                                <option>浙江省</option>
                                <option>安徽省</option>
                                <option>福建省</option>
                                <option>江西省</option>
                                <option>山东省</option>
                                <option>河南省</option>
                                <option>湖北省</option>
                                <option>湖南省</option>
                                <option>广东省</option>
                                <option>广西壮族自治区</option>
                                <option>海南省</option>
                                <option>四川省</option>
                                <option>贵州省</option>
                                <option>云南省</option>
                                <option>西藏自治区</option>
                                <option>陕西省</option>
                                <option>甘肃省</option>
                                <option>宁夏回族自治区</option>
                                <option>青海省</option>
                                <option>新疆维吾尔族自治区</option>
                            </select>
                            <select id="fromLocCity" name="city">
                                <option value="">城市</option>
                            </select>
                        </div>
                    </li>
                    <div class="clear"></div>
                    <li>
                        <div class="xj_lb_wz">目的地：<span>*</span></div>
                        <div class="xj_lb_bd">
                            <select id="toLocPro" name="pro">
                                <option value="">-到达省份-</option>
                                <option>北京市</option>
                                <option>上海市</option>
                                <option>天津市</option>
                                <option>重庆市</option>
                                <option>河北省</option>
                                <option>山西省</option>
                                <option>内蒙古自治区</option>
                                <option>辽宁省</option>
                                <option>吉林省</option>
                                <option>黑龙江省</option>
                                <option>江苏省</option>
                                <option>浙江省</option>
                                <option>安徽省</option>
                                <option>福建省</option>
                                <option>江西省</option>
                                <option>山东省</option>
                                <option>河南省</option>
                                <option>湖北省</option>
                                <option>湖南省</option>
                                <option>广东省</option>
                                <option>广西壮族自治区</option>
                                <option>海南省</option>
                                <option>四川省</option>
                                <option>贵州省</option>
                                <option>云南省</option>
                                <option>西藏自治区</option>
                                <option>陕西省</option>
                                <option>甘肃省</option>
                                <option>宁夏回族自治区</option>
                                <option>青海省</option>
                                <option>新疆维吾尔族自治区</option>
                            </select>
                            <select id="toLocCity" name="city">
                                <option value="">城市</option>
                            </select>
                        </div>
                    </li>
                    <div class="clear"></div>
                    <li>
                        <div class="xj_lb_wz">客户姓名:</div>
                        <div class="xj_lb_bd"><input type="text" id="cusName" placeholder="姓名--选填"></div>
                    </li>
                    <div class="clear"></div>
                    <li>
                        <div class="xj_lb_wz">手机号码：<span>*</span></div>
                        <div class="xj_lb_sj"><input type="text" id="cusPhone" placeholder="电话"/><span><img
                                src="/images/xunjia_14.jpg"/></span></div>
                        <!--<div class="xj_lb_yzm"><a href="#">获取验证码</a></div>-->
                    </li>
                    <div class="clear"></div>
                    <!--<li>-->
                    <!--<div class="xj_lb_wz">验证码：<span>*</span></div>-->
                    <!--<div class="xj_lb_bd"><input name="请输入验证码" type="text" value="请输入验证码"/></div>-->
                    <!--</li>-->
                    <div class="xj_lb_wz">客户留言:</div>
                    <div class="xj_lb_bd"><input type="text" id="description" placeholder="留言"/></div>
                    <div class="clear"></div>
                    <li>
                        <button class="lianjie" onclick="submitOrder()"><a>15秒获取报价</a></button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="cen_xj_r">
            <div class="cen_xj_t">
                <div class="ziaixnshijian">客服在线时间：08:00--22:00</div>
                <div class="fuwurexian">全国服务热线：<span>400-6566-856</span></div>
                <div class="xj_t_lianjie">
                    <ul>
                        <li><a href="#"><img src="/images/xunjia_07.jpg"/></a></li>
                        <li><a href="#"><img src="/images/xunjia_09.jpg"/></a></li>
                    </ul>
                </div>
            </div>
            <div class="cen_xj_b">
                <ul>
                    <li><a>北京</a></li>
                    <li><a>上海</a></li>
                    <li><a>广州</a></li>
                    <li><a>深圳</a></li>
                    <li><a>杭州</a></li>
                    <li><a>南京</a></li>
                    <li><a>苏州</a></li>
                    <li><a>无锡</a></li>
                    <li><a>合肥</a></li>
                    <li><a>成都</a></li>
                    <li><a>重庆</a></li>
                    <li><a>武汉</a></li>
                    <li><a>西安</a></li>
                    <li><a>天津</a></li>
                    <li><a>长沙</a></li>
                    <li><a>沈阳</a></li>
                    <li><a>大连</a></li>
                    <li><a>拉萨</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--询价详情页-->
<div class="clear"></div>
<!--footer_start-->
<div class="footer">
    <div class="footer-btm">
        <div class="footer-btm-lt">北京渤远物流有限公司专注经营全国范围内私家车托运、商品车运输、巡展车托运、试验车运输等车辆运输业务<br/>
            主要经营城市：哈尔滨，长春，沈阳，北京，广州，深圳，海口，三亚，成都，重庆，西藏，新疆等全国大中小城市...
        </div>
        <div class="footer-btm-rt"><i class="wow tada infinite">服务热线：</i> <span>400-6566-856 </span></div>
    </div>
</div>
<div style=" width:100%; height:50px;  background:#333;font-size:1.0em;color:#a0a0a0;text-align:center;">版权所有
    京ICP备16036127号 渤远物流运车
</div>
<!--/footer-->
<div class="clear"></div>
<div id="leftsead">
    <ul>
        <li><a href="#"><img src="/images/ll04.png" width="131" height="49" class="hides"/><img src="/images/l04.png"
                                                                                                width="47" height="49"
                                                                                                class="shows"/></a></li>
        <li><a href="#"><img src="/images/ll05.png" width="131" height="49" class="hides"/><img src="/images/l05.png"
                                                                                                width="47" height="49"
                                                                                                class="shows"/></a></li>
        <li><a id="top_btn"><img src="/images/ll06.png" width="131" height="49" class="hides"/><img
                src="/images/l06.png" width="47" height="49" class="shows"/></a></li>
    </ul>
</div><!--leftsead end-->


<script type="text/javascript">
    $(document).ready(function () {

        $("#leftsead a").hover(function () {
            if ($(this).prop("className") == "youhui") {
                $(this).children("img.hides").show();
            } else {
                $(this).children("img.hides").show();
                $(this).children("img.shows").hide();
                $(this).children("img.hides").animate({marginRight: '0px'}, 'slow');
            }
        }, function () {
            if ($(this).prop("className") == "youhui") {
                $(this).children("img.hides").hide('slow');
            } else {
                $(this).children("img.hides").animate({marginRight: '-143px'}, 'slow', function () {
                    $(this).hide();
                    $(this).next("img.shows").show();
                });
            }
        });

        $("#top_btn").click(function () {
            if (scroll == "off") return;
            $("html,body").animate({scrollTop: 0}, 200);
        });

    });
</script>
<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">


    <!-- 代码 开始 -->
    <div class="scrollsidebar" id="scrollsidebar">
        <div class="side_content">
            <div class="side_list">
                <div class="side_title"><a title="隐藏" class="close_btn"><span>关闭</span></a></div>
                <div class="side_center">
                    <div class="side_tp"><img src="/images/kf_03.jpg"/></div>
                    <div class="side_wz">
                        7×14H专人服务
                    </div>
                    <div style="text-align:center; font-size:12px; line-height:30px; color:#999;">AM:08:00-PM22:00</div>
                    <div class="custom_service">
                        <p>
                            <a href="/boyuan/makeOrder"><img src="/images/an_06.jpg"/></a>
                        </p>
                    </div>

                    <div class="other">
                        <p><img src="/images/fw_10.jpg"/></p>
                    </div>
                    <div class="side_zx"><a href="#">15秒获取报价</a></div>

                    <div class="msgserver">
                        <p><img src="/images/fw_14.jpg"/></p>
                        <p style=" color:#666; line-height:30px;">添加客服微信</p>
                    </div>
                </div>
                <div class="side_bottom"></div>
            </div>
        </div>
        <div class="show_btn"><span>在线客服</span></div>
    </div>
    <script type="text/javascript" src="/js/web/lrtk.js"></script>
    <!-- 代码 结束 -->
    <script type="text/javascript">
        $(function () {
            $("#scrollsidebar").fix({
                float: 'right',	//default.left or right
                //minStatue : true,
                skin: 'green',	//default.gray or blue
                durationTime: 600
            });
        });
    </script>
</div>
</body>
</html>

