<!--
  ~  Copyright 2020 北京渤远物流. All Rights Reserved.
  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>渤远运车，您身边的运车专家</title>
    <meta name="keywords" content="渤远运车"/>
    <meta name="description" content="您身边的运车专家"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen and (max-device-width: 600px)" href="/css/mcss.css"/>
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 600px)" href="/css/style.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="/js/jquery-1.7.2.min.js"></script>
    <script src="/js/web/html5zoo.js"></script>
    <script src="/js/web/lovelygallery.js"></script>

    <title>托运案例</title>
    <script type="text/javascript">
        function MM_swapImgRestore() { //v3.0
            var i, x, a = document.MM_sr;
            for (i = 0; a && i < a.length && (x = a[i]) && x.oSrc; i++) x.src = x.oSrc;
        }

        function MM_preloadImages() { //v3.0
            var d = document;
            if (d.images) {
                if (!d.MM_p) d.MM_p = new Array();
                var i, j = d.MM_p.length, a = MM_preloadImages.arguments;
                for (i = 0; i < a.length; i++)
                    if (a[i].indexOf("#") != 0) {
                        d.MM_p[j] = new Image;
                        d.MM_p[j++].src = a[i];
                    }
            }
        }

        function MM_findObj(n, d) { //v4.01
            var p, i, x;
            if (!d) d = document;
            if ((p = n.indexOf("?")) > 0 && parent.frames.length) {
                d = parent.frames[n.substring(p + 1)].document;
                n = n.substring(0, p);
            }
            if (!(x = d[n]) && d.all) x = d.all[n];
            for (i = 0; !x && i < d.forms.length; i++) x = d.forms[i][n];
            for (i = 0; !x && d.layers && i < d.layers.length; i++) x = MM_findObj(n, d.layers[i].document);
            if (!x && d.getElementById) x = d.getElementById(n);
            return x;
        }

        function MM_swapImage() { //v3.0
            var i, j = 0, x, a = MM_swapImage.arguments;
            document.MM_sr = new Array;
            for (i = 0; i < (a.length - 2); i += 3)
                if ((x = MM_findObj(a[i])) != null) {
                    document.MM_sr[j++] = x;
                    if (!x.oSrc) x.oSrc = x.src;
                    x.src = a[i + 2];
                }
        }
    </script>
</head>

<body onload="MM_preloadImages('images/anniu_22.png')">
<div class="top">
    <div class="db">
        <div class="pcdb">
            <div class="pcdb_l">您好欢迎来到渤远物流！！！专业提供轿车托运服务</div>
            <div class="pcdb_r"><a href="#"
                                   onclick="javascript:window.external.addFavorite('http://www.boyuan.com','渤远物流')"
                                   title="收藏本站到收藏夹">加入收藏</a></div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="dingbu">
        <div class="dingbu_a"><img src="/images/index_09.jpg"/></div>
        <div class="dingbu_b"><img src="/images/index_10.jpg"/></div>
        <div class="dingbu_c"><img src="/images/index_11.jpg"/></div>
        <div class="dingbu_d"><img src="/images/index_12.jpg"/></div>
    </div>
    <div class="clear"></div>
    <div class="nav">
        <ul>
            <li><a href="/">首页</a></li>
            <li><a href="/boyuan/news">托运必读</a></li>
            <li><a href="/boyuan/makeOrder">在线询价</a></li>
            <li><a href="/boyuan/cases">托运案例</a></li>
            <li><a href="/boyuan/about">关于我们</a></li>
        </ul>
    </div>
</div>
<div class="clear"></div>
<!--手机端top-->
<div class="mtop">
    <script type="text/javascript" src="/js/web/script.js"></script>
    <div class="sp_header">
        <div class="sp_logo"><a href="#"><img src="/images/mindex_09.jpg" alt=""></a></div>
        <div class="sp_nav"><span></span> <span></span> <span></span></div>
    </div>
    <div class="sjj_nav">
        <ul>
            <li><a href="/">首页</a></li>
            <li><a href="/boyuan/news">托运必读</a></li>
            <li><a href="/boyuan/makeOrder">15秒获取报价</a></li>
            <li><a href="/boyuan/cases">托运案例</a></li>
            <li><a href="/boyuan/about">关于我们</a></li>
        </ul>
    </div>
</div>
<!--top_wap-->
<div class="clear"></div>
<!--banner start-->
<div class="banner">
    <!-- 轮播图 -->
    <div class="pics_wrap">
        <div id="html5zoo-1">
            <ul class="html5zoo-slides" style="display:none;">
                <li><a href="#"><img src="/images/slides/slides_1.jpg"/></a></li>
                <li><a href="#"><img src="/images/slides/slides_2.jpg"/></a></li>
                <li><a href="#"><img src="/images/slides/slides_3.jpg"/></a></li>
            </ul>
        </div>
    </div>
    <!-- 轮播图结束 -->
</div>
<!--banner end-->
<div class="clear"></div>
<!--托运必读-->
<div class="center">
    <div class="about">
        <div class="about_ti" id="newsTitle" th:text="${blog.title}"></div>
        <div class="about_zz" id="newsInfo" th:text="|发布时间：${#dates.format(blog.createTime, 'yyyy-MM-dd HH:mm')}|"></div>
        <div class="xian"></div>
        <p><img src="/images/gy_03.jpg"/></p>
        <p><img id="newsImg" src="/images/gy_06.jpg"/></p>
        <div id="content" th:utext="${blog.content}"></div>


    </div>
    <div class="clear"></div>
    <div class="xian"></div>
    <div class="last" th:if="${lastBlog} ne null">
        <a th:href="@{'/boyuan/newsDetail?blogId='+${lastBlog.blogId}}" th:text="|上一篇：${lastBlog.title}|"></a>
    </div>
    <div class="next" th:if="${nextBlog} ne null">
        <a th:href="@{'/boyuan/newsDetail?blogId='+${nextBlog.blogId}}" th:text="|下一篇：${nextBlog.title}|"></a>
    </div>
</div>
<!--托运必读-->
<div class="clear"></div>
<!--footer_start-->
<div class="footer">
    <div class="footer-btm">
        <div class="footer-btm-lt">北京渤远物流有限公司专注经营全国范围内私家车托运、商品车运输、巡展车托运、试验车运输等车辆运输业务<br/>
            主要经营城市：哈尔滨，长春，沈阳，北京，广州，深圳，海口，三亚，成都，重庆，西藏，新疆等全国大中小城市...
        </div>
        <div class="footer-btm-rt"><i class="wow tada infinite">服务热线：</i> <span>400-6566-856 </span></div>
    </div>
</div>
<div style=" width:100%; height:50px;  background:#333;font-size:1.0em;color:#a0a0a0;text-align:center;">版权所有
    京ICP备16036127号 渤远物流运车
</div>
<!--/footer-->
<div class="clear"></div>
<div id="leftsead">
    <ul>
        <li><a href="#"><img src="/images/ll04.png" width="131" height="49" class="hides"/><img src="/images/l04.png"
                                                                                                width="47" height="49"
                                                                                                class="shows"/></a></li>
        <li><a href="#"><img src="/images/ll05.png" width="131" height="49" class="hides"/><img src="/images/l05.png"
                                                                                                width="47" height="49"
                                                                                                class="shows"/></a></li>
        <li><a id="top_btn"><img src="/images/ll06.png" width="131" height="49" class="hides"/><img
                src="/images/l06.png" width="47" height="49" class="shows"/></a></li>
    </ul>
</div><!--leftsead end-->


<script type="text/javascript">
    $(document).ready(function () {

        $("#leftsead a").hover(function () {
            if ($(this).prop("className") == "youhui") {
                $(this).children("img.hides").show();
            } else {
                $(this).children("img.hides").show();
                $(this).children("img.shows").hide();
                $(this).children("img.hides").animate({marginRight: '0px'}, 'slow');
            }
        }, function () {
            if ($(this).prop("className") == "youhui") {
                $(this).children("img.hides").hide('slow');
            } else {
                $(this).children("img.hides").animate({marginRight: '-143px'}, 'slow', function () {
                    $(this).hide();
                    $(this).next("img.shows").show();
                });
            }
        });

        $("#top_btn").click(function () {
            if (scroll == "off") return;
            $("html,body").animate({scrollTop: 0}, 200);
        });

    });
</script>
<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">


    <!-- 代码 开始 -->
    <div class="scrollsidebar" id="scrollsidebar">
        <div class="side_content">
            <div class="side_list">
                <div class="side_title"><a title="隐藏" class="close_btn"><span>关闭</span></a></div>
                <div class="side_center">
                    <div class="side_tp"><img src="/images/kf_03.jpg"/></div>
                    <div class="side_wz">
                        7×14H专人服务
                    </div>
                    <div style="text-align:center; font-size:12px; line-height:30px; color:#999;">AM:08:00-PM22:00</div>
                    <div class="custom_service">
                        <p>
                            <a href="/boyuan/makeOrder"><img src="/images/an_06.jpg"/></a>
                        </p>
                    </div>

                    <div class="other">
                        <p><img src="/images/fw_10.jpg"/></p>
                    </div>
                    <div class="side_zx"><a href="#">15秒获取报价</a></div>

                    <div class="msgserver">
                        <p><img src="/images/fw_14.jpg"/></p>
                        <p style=" color:#666; line-height:30px;">添加客服微信</p>
                    </div>
                </div>
                <div class="side_bottom"></div>
            </div>
        </div>
        <div class="show_btn"><span>在线客服</span></div>
    </div>
    <script type="text/javascript" src="/js/web/lrtk.js"></script>
    <!-- 代码 结束 -->
    <script type="text/javascript">
        $(function () {
            $("#scrollsidebar").fix({
                float: 'right',	//default.left or right
                //minStatue : true,
                skin: 'green',	//default.gray or blue
                durationTime: 600
            });
        });
    </script>

</body>
</html>
