<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~  Copyright 2020 北京渤远物流. All Rights Reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boyuan.delivery.mapper.CarOrderMapper">

    <resultMap id="OrderModelMap" type="com.boyuan.delivery.model.Order">
        <id column="order_id" jdbcType="BIGINT" property="orderId"/>
        <result column="order_status" jdbcType="INTEGER" property="orderStatus" />
        <result column="order_source" jdbcType="INTEGER" property="orderSource" />
        <result column="order_type" jdbcType="INTEGER" property="orderType" />
        <result column="admin_id" jdbcType="BIGINT" property="adminUserId" />
        <result column="car_type" jdbcType="INTEGER" property="carType" />
        <result column="car_name" jdbcType="VARCHAR" property="carName" />
        <result column="price" jdbcType="VARCHAR" property="price" />
        <result column="from_location" jdbcType="VARCHAR" property="fromLocation" />
        <result column="to_location" jdbcType="VARCHAR" property="toLocation" />
        <result column="cus_name" jdbcType="VARCHAR" property="cusName" />
        <result column="cus_phone" jdbcType="VARCHAR" property="cusPhone" />
        <result column="is_active" jdbcType="BOOLEAN" property="isActive" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>

    <insert id="createOrder" parameterType="com.boyuan.delivery.model.Order" useGeneratedKeys="true" keyProperty="orderId">
        insert into car_order (order_status, order_source, order_type, admin_id, car_type, car_name, price, from_location, to_location, cus_name, cus_phone, is_active)
        values (#{orderStatus,jdbcType=INTEGER}, #{orderSource,jdbcType=INTEGER}, #{orderType,jdbcType=INTEGER}, #{adminUserId,jdbcType=BIGINT},
        #{carType,jdbcType=INTEGER}, #{carName,jdbcType=VARCHAR}, #{price,jdbcType=VARCHAR}, #{fromLocation,jdbcType=VARCHAR},#{toLocation,jdbcType=VARCHAR},
        #{cusName,jdbcType=VARCHAR}, #{cusPhone,jdbcType=VARCHAR}, #{isActive,jdbcType=BOOLEAN}
        )
    </insert>

    <update id="updateOrder"  parameterType="com.boyuan.delivery.model.Order">
        UPDATE car_order
        <trim prefix="set" suffixOverrides=",">
            <if test="orderStatus != null">order_status = #{orderStatus,jdbcType=INTEGER},</if>
            <if test="orderSource != null">order_source = #{orderSource,jdbcType=INTEGER},</if>
            <if test="orderType != null">order_type = #{orderType,jdbcType=INTEGER},</if>
            <if test="adminUserId != null">admin_id = #{adminUserId,jdbcType=BIGINT},</if>
            <if test="carType != null">car_type = #{carType,jdbcType=INTEGER},</if>
            <if test="carName != null">car_name = #{carName,jdbcType=VARCHAR},</if>
            <if test="price != null">price = #{price,jdbcType=VARCHAR},</if>
            <if test="fromLocation != null">from_location = #{fromLocation,jdbcType=VARCHAR},</if>
            <if test="toLocation != null">to_location = #{toLocation,jdbcType=VARCHAR},</if>
            <if test="cusName != null">cus_name = #{cusName,jdbcType=VARCHAR},</if>
            <if test="cusPhone != null">cus_phone = #{cusPhone,jdbcType=VARCHAR},</if>
            <if test="isActive != null">is_active = #{isActive,jdbcType=BOOLEAN},</if>
        </trim>
        WHERE order_id=#{orderId, jdbcType=BIGINT}
    </update>

    <update id="deleteOrderById" parameterType="java.lang.Long">
        update car_order
        set is_active = false
        where order_id = #{orderId,jdbcType=BIGINT}
    </update>

    <select id="getOrderById" parameterType="java.lang.Long" resultMap="OrderModelMap">
        select user_id, user_name, password, phone, sex, age, birthday, role_id, create_time, update_time
        from user
        where user_name = #{username,jdbcType=VARCHAR}
    </select>

</mapper>